@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'haylard-display';
    src: url(./assets/fonts/fonnts.com-Halyard_Display.otf);
  }
  @font-face {
    font-family: 'poppins-font';
    src: url(./assets/fonts/Poppins-Regular.ttf);
  }
}